
<body>
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <ul>
              <li><strong>{{ canal.canalName }}</strong></li><br>
              <li>Latitude: {{ canal.lat }}</li>
              <li>Longitude: {{ canal.lng }}</li>
              <li>Fish Species: {{ canal.fishTypes }}</li><br>
              <p><a [routerLink]="['/canals']" class="btn btn-info btn-xs" role="button">Take me back</a>
        </ul>
      </div>
      <div class="col-lg-8">
      <img [src]="baseUrl+canal.image" alt="" class="canal-sizing">
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-8">
          <p class="margin-desc"> "{{canal.description}}"</p>
        </div>
        <div class="col-md-4">
          <p class="angler-quote">InsertNameHere, Angler</p>
        </div>
    </div>
  </div>

<!-- <img [src]="baseUrl+canal.image" alt=""> -->

<!-- reviews: -->

<div *ngFor = "let oneReview of canal.reviews" >
  Made by:<p>{{ oneReview.author }} - <span>{{ oneReview.content }}</span></p>
  
  <p>Rating: {{ oneReview.stars }} stars</p>
</div>


<!-- update canal area -->
<div *ngIf="canal.owner === currentUser._id">  
<form (ngSubmit)="doTheUpdate(canal._id, myForm)" #myForm="ngForm" >
  <label for="canal-name-input"> Canal Name </label>
  <input id="canal-name-input" type="text"  [(ngModel)]="canal.canalName" name="canalName" value="{{ canal.canalName }}">
  <br>
  <label for="lat-input"> Latitude </label>
  <input id="lat-input" type="text"  [(ngModel)]="canal.lat" name="lat" value="{{ canal.lat }}">
  <br>
  <label for="lng-input"> Longitude </label>
  <input id="lng-input" type="text"  [(ngModel)]="canal.lng" name="lng" value="{{ canal.lng }}">
  <br>
  <label for="description-textarea"> Description </label>
  <textarea id="description-textarea" type="text" rows="10" cols="30" [(ngModel)]="canal.description" name="description" value="{{ canal.description }}"></textarea>
  <br>
  <label for="fishTypes-input"> Fish Species </label>
    <input id="fishTypes-input" type="number" [(ngModel)]="canal.fishTypes" name="fishTypes">
    <br>
  <button type="submit">Save updates</button>
  <button *ngIf="canal._id" (click)="deleteThisCanal()">DELETE</button>
</form>
</div>
<hr>
<!-- canal details -->

<div *ngIf="canal.owner !== currentUser._id">

  <p>Add the review below:</p>
  <form (ngSubmit)="addTheReview(canal._id, reviewData)" >
      <label for="review-content-input"> Content </label>
      <input id="review-content-input" type="text"  [(ngModel)]="reviewData.content" name="content">
      <br>
      <button type="submit">Submit the review</button>
  </form>
</div>

<hr>




<!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker [latitude]="canal.lat" [longitude]="canal.lng"></agm-marker>
  </agm-map> -->

<!-- Star reviews for another day
<label for="review-stars-input"> Content </label>
      <input id="review-stars-input" type="number"  [(ngModel)]="reviewData.stars" name="content">
      <br> -->

      <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h2 class="page-header">Comments</h2>
                <section class="comment-list">
                  <!-- First Comment -->
                  <article class="row">
                    <div class="col-md-2 col-sm-2 hidden-xs">
                      <figure class="thumbnail">
                        <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                        <figcaption class="text-center">username</figcaption>
                      </figure>
                    </div>
                    <div class="col-md-10 col-sm-10">
                      <div class="panel panel-default arrow left">
                        <div class="panel-body">
                          <header class="text-left">
                            <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                            <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                          </header>
                          <div class="comment-post">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                          </div>
                          <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
                        </div>
                      </div>
                    </div>
                  </article>
                </section>
            </div>
          </div>
        </div>

    </body>
