agm-map {
    height: 600px;
    width: 400px;
  }

 
  
 .thumbnail {
      position: relative;
      padding: 0px;
      margin-bottom: 20px;
      /* width: 40% */
  }
  
  .thumbnail>img {
    height: 300px;
    width: 500px;
}

.fixed {
  position: fixed;
}

h3 {
  font-family: Raleway;
  font-size: medium;
  color: #838282;
  margin-bottom: 10px;
  margin-left: 15px;

}