<!-- <div *ngIf="currentUser">
  <header>
    
    <a [routerLink]="['/add-canal']">Add a new canal</a>
    <button (click)="logMeOutPls()"> Log Out </button>
    <p *ngIf="logoutError" class="error">
      {{ logoutError }}
    </p>
  </header>
  <h2>Canal List</h2>

  <div *ngFor="let canal of canals">
    <a [routerLink]="['/canals', canal._id]">{{ canal.canalName }}</a>
    <img [src]="baseUrl + canal.image" alt="" height="200" width="400">
  </div>

  <div> -->

    

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-marker *ngFor="let canal of canals" [latitude]="canal.lat" [longitude]="canal.lng">
      <agm-info-window>{{ canal.canalName }}

      </agm-info-window>
  </agm-marker>
</agm-map>

  </div>

</div> -->

<body>
  <div *ngIf="currentUser">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
          <h3> Happy Fishing {{ currentUser.username }}! </h3>
        </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
          <div class="col-lg-6" *ngFor="let canal of canals">
          <div class="thumbnail">
              <img [src]="baseUrl + canal.image" alt="">
                <div class="caption">
                  <h4>{{ canal.canalName }}</h4>
                  <h5>Observed Fish Species: {{ canal.fishTypes }}</h5>
                  <p><a [routerLink]="['/canals', canal._id]" class="btn btn-info btn-xs" role="button">View</a>
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-4">
        <div class="fixed">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
              <agm-marker *ngFor="let canal of canals" [latitude]="canal.lat" [longitude]="canal.lng">
                  <agm-info-window>{{ canal.canalName }}
            
                  </agm-info-window>
              </agm-marker>
            </agm-map>
      </div>
      </div>
    </div>

  </div>
</div>
</body>